

.personalButton {
    display: block;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 200px;
}

.personalButton__caption {
    @include font-style-Nunito(700, 2.25em, 1.2, #9747ff);
    padding-bottom: 20px;
}

.personalButton__text {
    @include font-style-Nunito(400, 1.125em, 1.2, #5b5a7a);
    padding-bottom: 45px;
}

.personal {
    display: grid;
    width: 63%;
    grid-template-areas:
        " personal__img personal__article"
        " personal__img personal__link";
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto auto;
    gap: 0rem;
    padding-left: 15%;
    padding-right: 22%;
    margin-top: 34px;
    margin-bottom: 34px;
}

.personal__img {
    grid-area: personal__img;
    width: 100%;
}

.personal__article {
    grid-area: personal__article;
}

.personal__header {
    grid-area: personal__header;
    padding-left: 20px;
    padding-bottom: 13px;
    margin-bottom: 0px;
    @include font-style-Nunito(700, 32px, 1.2, #54269e);
}

.personal__text {
    grid-area: personal__text;
    padding-left: 20px;
    @include font-style-Nunito(400, 18px, 1.2, #5b5a7a);
    margin-top: 0%;
}

.personal__link {
    grid-area: personal__link;
    padding-left: 20px;
}

.personal-left {
    grid-template-areas:
        " personal__article personal__img"
        " personal__link  personal__img";
    grid-template-columns: 1fr 30%;
    grid-template-rows: auto auto;
    padding-left: 22%;
    padding-right: 15%;
}

.personal-heart {
    width: 70%;
    grid-template-areas:
        " personal__caption personal__img"
        " personal__text  personal__img";
    grid-template-columns: 1fr 30%;
    grid-template-rows: auto auto;
    padding-left: 15%;
    padding-right: 15%;
}

.personal-personal-page {
    width: 70%;
    grid-template-areas:
        " personal__link personal__img"
        " personal__caption personal__img"
        " personal__text  personal__img"
        " personal__inf  personal__inf";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding-left: 15%;
    padding-right: 15%;
}
.personal-slaider{
    grid-template-areas:
        "personal__img personal__text ";
}

.personal__caption {
    grid-area: personal__caption;
    padding-left: 20px;
    padding-bottom: 13px;
    margin-bottom: 0px;
    @include font-style-Nunito(700, 42px, 1.2, #54269e);
}

.personal__inf {
    grid-area: personal__inf;
    padding-top: 100px;
}

.personal__inf-img {
    height: 25vw;
    width: auto;
    float: left;
    margin-right: 20px;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .personal {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .personal-heart {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .personal-personal-page {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .personal__inf {
        padding-top: 50px;
    }
}

@media screen and (max-width: 700px) {
    .personal-slaider {
        grid-template-areas:
            "personal__img"
            "personal__text";
        grid-template-columns: 1FR;
        grid-template-rows: auto auto;
    }

    .personal {
        display: grid;
        width: 90%;
        grid-template-areas:
            " personal__img"
            "personal__article"
            " personal__link";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .personal-left {
        grid-template-areas:
            "personal__img"
            " personal__article"
            " personal__link";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .personal-heart {
        width: 70%;
        grid-template-areas:
            "personal__img"
            "personal__caption"
            "personal__text";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding-left: 15%;
        padding-right: 15%;
    }

    .personal-personal-page {
        width: 90%;
        grid-template-areas:
            " personal__link"
            "personal__img"
            "personal__caption"
            " personal__text"
            " personal__inf";
        grid-template-columns: 1FR;
        grid-template-rows: auto auto auto auto auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .personal__inf {
        padding-top: 50px;
    }

    .personal__img {
        padding-bottom: 20px;
    }

    .personal__inf-img {
        width: 100%;
        height: auto;
    }

    .personal__text {
        padding-left: 0px;
    }
    .personal-slaider{
        grid-template-areas:
            "personal__img"
            "personal__text";
            grid-template-columns: 1FR;
        grid-template-rows: auto auto;
    }
}

.crew {
    &__container {
        display: flex;
        flex-direction: column;
        max-width: 70vw;
        padding: 100px 15% 100px;
        margin: 0px auto;
    }

    &__body {
        display: flex;
        justify-content: space-around;
        margin: 0px -20px;
    }

    &__title {
        @include font-style-Nunito(700, 36px, 1.36, $text-caption_color);
        letter-spacing: -0.005em;
    }

    &__item {
        flex: 0 1 25%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__item-image {
        img {
            width: 100%;
        }
    }

    &__item-title {
        @include font-style-Nunito(700, 24px, 1.38, $text-subtitle_color);
    }

    &__item-text {
        @include font-style-Nunito(400, 18px, 1.2, #5b5a7a);
    }
}

.change {
    max-width: 70vw;
    padding: 50px 15% 50px;
    margin: 0px auto;

    &__video {
        position: relative;
        flex: 0 1 90%;
        position: relative;
        padding: 0px 0px 53% 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 53% 0px;
        // max-width: 70vw;
        // min-height: 624px;
    }

    &__video-item {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.partners {
    &__container {
        max-width: 70vw;
        padding: 50px 15% 50px;
        margin: 0px auto;
    }

    &__title {
        @include font-style-Nunito(700, 36px, 1.36, $text-caption_color);
        letter-spacing: -0.005em;
        padding: 20px 0px 30px;
    }

    &__body {
        display: flex;
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-bottom: 40px;
    }

    &__item {
        padding: 0px 5px;
        height: 100%;
    }

    &__item-image {
        img {
            width: 100%;
        }
    }

    &__item-title {
        @include font-style-Nunito(400, 10px, 1.2, #5b5a7a);
        letter-spacing: -0.005em;
        padding-top: 5px;
    }
}

.projects-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__projectSlider-2 {
        align-self: flex-start;
        justify-items: center;
    }
}

@media (max-width: 950px) {
    .crew {
        &__container {
            padding: 50px 15% 50px;
        }

        &__item-title {
            @include font-style-Nunito(700, 19px, 1.38, $text-subtitle_color);
        }

        &__item-text {
            @include font-style-Nunito(400, 12px, 1.2, #5b5a7a);
        }

        &__body {
            margin: 0px -10px;
        }

        &__item {
            padding: 10px;
        }

        &__title {
            @include font-style-Nunito(700, 27.2px, 1.36, $text-caption_color);
        }
    }

    .partners {
        &__container {
            padding: 50px 15% 50px;
        }

        &__body {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        &__item-17 {
            grid-column-start: 2;
        }

        &__item-18 {
            grid-column-start: 3;
        }

        &__title {
            @include font-style-Nunito(700, 27.2px, 1.36, $text-caption_color);
        }
    }
}

@media (max-width: 700px) {


    .crew {
        &__container {
            padding: 20px 15% 20px;
        }

        // &__item-title {
        //   @include font-style-Nunito(700, 19px, 1.38, $text-subtitle_color);
        // }

        // &__item-text {
        //   @include font-style-Nunito(400, 12px, 1.2, #5b5a7a);
        // }
        &__body {
            flex-wrap: wrap;
        }

        // &__item {
        //   padding: 10px;
        // }
        &__item {
            flex: 0 1 45%;
            padding: 10px;
        }

        &__title {
            @include font-style-Nunito(700, 26px, 1.36, $text-caption_color);
            justify-content: center;
        }

        &__item-text {
            text-align: center;
        }

        &__item-title {
            text-align: center;
        }
    }

    .partners {
        &__container {
            padding: 20px 15% 20px;
        }

        &__body {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        &__item-17 {
            grid-column-start: auto;
        }

        &__item-18 {
            grid-column-start: auto;
        }

        &__title {
            @include font-style-Nunito(700, 26px, 1.36, $text-caption_color);
            justify-content: center;
        }
    }
}

@media (max-width: 550px) {
    .crew {
        &__item {
            padding: 5px;
        }
    }
}

@media (max-width: 470px) {
    .partners {
        &__body {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, 1fr);
        }
    }

    .change {
        padding: 20px 15% 20px;
    }
}

@media (max-width: 400px) {
    .crew {
        &__item {
            flex: 0 1 70%;
            padding: 10px;
        }
    }
}